nav{
    
    background-color:#2791C2;
     height:69.95px;

   
}


   body{
    margin: 0px;
    background: #1E1E1E;background: #1E1E1E;
   }



 nav span{

    position: absolute;
left: 0.94%;
top:20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
z-index: 100;

color: #FFFFFF;
}

nav input{
    position: absolute;
    justify-content: center;
    align-items: center;
   left:33%;
    top:10px;
   
border-radius: 5px;
height: 41.97px;
width: 384px;
background: url(images/loop.png) no-repeat 7px ;
padding-left:30px;
background-color: #f8f6f6;
}




search::placeholder{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;
/* identical to box height, or 229% */


color: #BCBCBC;

}

.banner{
   
  
    height: 549.5px;
   
    background-image: url("images/Avatar1.png");
    background-size: cover;

}

.banner-shadow{
    height: 549.5px;
    
background: linear-gradient(90deg, #080E20 0%, rgba(29, 29, 29, 0) 65.46%);
}

.banner-content{
    
   

  position: absolute;
    left: 10.43%;
    top:20%;
 
}

.content{
    padding-bottom: 1%;
}


.gender{
  

   
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    
    /* Primary/Teal */
    
    color: #0FEFFD;


}


.stars{
    font-family: 'Open Sans';
}



.title{
    
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 64px;
/* identical to box height, or 114% */


/* Primary/White */

color: #FFFFFF;

}

.description{
    width: 44.9%;
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */


/* Primary/White */

color: #FFFFFF;

}
 
.watch{
    padding-top: 3%;
}

.watch-button{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    gap: 4px;
    background: #2791C2;
border-radius: 31px;
width: 18%;
height: 47px;
color:white;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
}



.cards-container{
    padding-top: 2%;
    display:flex;
    padding-left: 10%;
}

.card{
    width: 320px;
    height: 439.67px;
    padding-left: 10%;
}

.prey{
   
    background: url(images/Prey.png) no-repeat;
    

}

.dominion{
   
    background: url(images/dominion.png) no-repeat;
    

}

.godzillakingkong{
   
    background: url(images/gozillakingkong.png) no-repeat;
    

}

.most-watched{
 padding-top: 2%;   
 padding-left: 10%;   
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 64px;
/* identical to box height, or 267% */


/* Primary/White */

color: #FFFFFF;

}


.result-list{
position:absolute;
left:33%;
top:7.68%;
color:rgb(246, 245, 245);
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 10px;
width: 418px;
background-color: #131212;
z-index:1;
}


.result-list li{
    
    list-style:none;
    padding: 8px 12px;
  }


  .result-list li:hover{
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
  }