nav{
    
    background-color:#2791C2;
     height:69.95px;
     width: 100%;

   
}

.nav-grid{
    display: grid;
    grid-template-columns: 35% 55% 10%;
    padding-top:1% ;
    width:90%;
    padding-left: 5%;
}




   body{
    margin: 0px;
    background: #1E1E1E;background: #1E1E1E;
   }



 nav span{

padding-top: 4%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #FFFFFF;
}

nav input{
   
    justify-content: center;
    align-items: center;
    
   
border-radius: 5px;
height: 41.97px;
width: 384px;
background: url(images/loop.png) no-repeat 7px ;

padding-left:30px;
background-color: #f8f6f6;
}




search::placeholder{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;
/* identical to box height, or 229% */


color: #BCBCBC;

}


.log{
    display: grid;
    grid-template-columns: auto auto;
    
    position:absolute;
    top:2%;
    right:5%;
   
    
}

.log span{
    position: relative;
    font-size: 15px;
    top:15%;
    padding-right:10px ;
    cursor:pointer;
}



.star-container{

    display :flex;

}    


.star{
   
    position: relative;
    display: block;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 3.5px solid #FF9900;
    transform: rotate(35deg);
  
}

.star::after{
   
    position:absolute;
    display: block;
    content: '';
    height: 0;
    width: 0;
    top:-2.25px;
    left:-3.25px;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    border-bottom: 4px solid #FF9900;
    transform: rotate(-35deg);
  
}



.star::before{
   
    position: absolute;
    display: block;
    content: '' ;
    height: 0;
    width: 0;
    top:0.15px;
    left:-5.25px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 3.5px solid #FF9900;
    transform: rotate(-70deg);
  
}



.banner{
   
  
    height: 549.5px;
    background-repeat:no-repeat;
    background-size: cover;

}

.banner-shadow{
    height: 549.5px;
 
background: linear-gradient(90deg, #080E20 0%, rgba(29, 29, 29, 0) 65.46%);

}

.banner-content{
    
   

  position: absolute;
    left: 10.43%;
    top:20%;
   
    
 
}

.content{
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: auto ;
    grid-row-gap: 10px;

}


.gender{
  

   
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    
    /* Primary/Teal */
    
    color: #0FEFFD;


}


.stars{
    font-family: 'Open Sans';
}



.title{
    
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 64px;
/* identical to box height, or 114% */


/* Primary/White */

color: #FFFFFF;

}

.overview{
    width: 44.9%;
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */


/* Primary/White */

color: #FFFFFF;

}



 
.watch{
    padding-top: 3%;
}


.action-btn{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  background: #2791C2;
  border-radius: 31px;
  color:white;
  padding: 8px 18px;
  gap: 4px;

width: 18%;
height: 47px;
color:white;
}

.watch-button{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   


}

.button-modal{
  width:150px;
  height: 60px;

}

.action-btn:hover{
background:  #66a4c1;;
}

.action-btn:active {
    background: #FFFFFF;
    color: #2791C2;

    }

.card-container-columns{
  
  display: grid;
  grid-template-columns: auto auto auto;

}



.card{ 
    margin-bottom: 15%;
    margin-right: 10%;
    font-family: 'Open Sans';
    font-style: normal;
    background-size: cover;
    cursor: pointer;
    color:white;
   
}

.card-shadow{
    position: absolute;
    height: 310px;
    width: 225px;
}

.card-content{
    
  display:grid;
  margin-top: 92%;
  height: 70%;
  grid-template-columns: auto;
  grid-template-rows:60px 10px 20%  ;
  

height: 330px;



}

.card-overview{
    display:relative;
font-weight: 220;
font-size: 10px;

}




.card-title{
  position: relative;
    font-weight: 700;
    font-size: 20px;
    /* or 320% */


}

.most-watched-grid{
  
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 64px;
/* identical to box height, or 267% */
display:grid;
grid-template-columns: 75% 25%;
padding-top: 2%;  
padding-left: 8%; 
/* Primary/White  */

color: #FFFFFF;

}

.item2{
   display: grid;
   grid-template-columns: auto auto;
   width: 120px;
   cursor: pointer;
}

.most-watched-grid item1{
    cursor: pointer;
}



.result-list{
position:absolute;
left:36.5%;
top:8.5%;
color:rgb(246, 245, 245);
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 10px;
width: 418px;
background-color: #131212;
z-index:1;
cursor: pointer;


}


.result-list div{
    
    list-style:none;
    padding: 8px 12px;
    
  }


  .result-list div:hover{
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
  }


 
  
 
.modal{
 
  width: 1240px;
  height: 839px;
  background-color:#111111;
  border-radius: 20px;

}




.modal-banner{
  position: absolute;
  left:0px;
  top:0px;
  width: 100%;
  height: 400px;
 
}

.modal-banner-content{
  padding-top: 21%;
  display: grid;
  grid-template-rows: 60% 20%;
}


.close-tab{
  position: absolute;
  cursor: pointer;
  border-radius: (45deg);
  width: 25px;
  left:95%;
  height: 25px;
  z-index: 1;
}


.close-tab:hover{
  background: linear-gradient(180deg, rgba(215, 21, 21, 0) 0%, #f00d0d 100%);
}

.modal-title{
  color: #29B9FC;

}

.modal-overview{
  position: absolute;
  color: #f8f6f6;
  width: 95%;
  top:60%
}

.movie-information{
  display:flex;
 
   position: absolute;
top:80%;
left: 14%;
   color:white;

 
 }

 .movie-data{
  position: relative;
   display:grid;
   grid-template-columns: auto auto;
   column-gap: 20px;
   padding-right:100px;

 }

 .card-modal-container{
  display:grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
 }