.box{
    
   width: 250px;
  
    border: 4px solid rgb(14, 14, 14);
    padding: 20px;
    margin: 20px;
   
}
.login{
    position: absolute;
    top: 25%;
    right: 40%;

    justify-content: center;
    align-items: center;  

    display: flex;
}

h3{
    text-align: center;
}