.box{
    
   width: 250px;
    border: 4px solid rgb(14, 14, 14);
    padding: 10px;
    margin: 5px;
   
}
.login{
    justify-content: center;
    align-items: center;  

    display: flex;
}

h3{
    text-align: center;
}